[Unit]
Description=Precision Time Protocol (PTP) service
Documentation=man:ptp4l

[Service]
Type=simple
ExecStart=/usr/local/sbin/ptp4l -f /etc/ptp4l/ptp4l.conf -i enp0s31f6

[Install]
WantedBy=multi-user.target
